<h3 align=center>Hello World</h3>

Digamos Hola al mundo (Hello world) con una sentencia <code>PRINT</code>. P.ej. <code>print("Hello World")</code>. ¿Por qué no intentarlo? Ponga una sentencia print en la celda de abajo. No olvide teclear <kbd>shift</kdb>+<kbd>enter</kbd> para ejecutar la celda:

<h3 align=center>Diga Hello World en dos líneas</h3>

Imprimamos Hello y World en dos líneas separadas. Pista: \n en el medio de la cadena actúa como un carácter de nueva línea.  E.g. <code>print("line 1\nline 2")</code>. Probémoslo ahora. Escriba una sentencia print en la celda debajo. No olvide teclear  <kbd>shift</kdb>+<kbd>enter</kbd> para ejecutar la celda:

<h3 align=center>Los comentarios son clave para un buen código</h3>

En Python, los comentarios se crean al colocar un numeral (#) delante del texto del comentario.  E.g. <code>este es un comentario</code>

<hr>
<small>Copyright &copy; 2020 IBM Cognitive Class. Este cuaderno y su código fuente se publican bajo los términos de la [Licencia MIT] (https://cognitiveclass.ai/mit-license/).</small>

In [1]:
# Comprobar la Versión de Python

import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

In [2]:
# Impresión de cadena y error para ver el orden de ejecución

print("Esto se imprimirá")
frint("Esto provocará un error")
print("Esto NO se imprimirá")

Esto se imprimirá

NameError: name 'frint' is not defined

In [3]:
# Tipo de 12

type(12)

int

In [4]:
# Tipo de 2.14

type(2.14)

float

In [5]:
# Tipo de "¡Hola, Python 101!"

type("¡Hola, Python 101!")

str

In [6]:
#En la celda de código de debajo, utiliza la función type() para comprobar el tipo de objeto de 12.0.
type(12.0)

float

In [7]:
# Imprime el tipo de -1

type(-1)

int

In [8]:
# Imprime el tipo de 0

type(0)

int

In [9]:
# Puedes obtener más información sobre las características específicas de los números de punto flotante en tu entorno de ejecución, comprobando el valor de:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [10]:
# Imprime el tipo de 0.56

type(0.56)

float

In [11]:
# Ajustes del sistema para el tipo float

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

## Convertir de un tipo de objeto a otro tipo de objeto diferente
Puedes cambiar el tipo del objeto en Python; esto se llama conversión de tipos, o typecasting. Por ejemplo, puedes convertir un entero en un punto flotante (por ejemplo 2 a 2.0).

In [12]:
# Verifica que esto es un entero

type(2)

int

In [13]:
# Convierte 2 a punto flotante

float(2)

2.0

In [14]:
# Convierte el entero 2 a punto flotante y comprobar su tipo

type(float(2))

float

## 
Cuando convertimos un entero en un punto flotante, no cambiamos realmente el valor (es decir, el significante) del número. Sin embargo, si convertimos un punto flotante en un entero, potencialmente podríamos perder algo de información. Por ejemplo, si convertimos el punto flotante 1.1 en un entero, obtenemos 1 y perdemos la información decimal (es decir, 0.1):

In [16]:
# Convertir 1.1 a entero resultará en una pérdida de información

int(1.1)

1

## Convertir cadenas a enteros o punto flotante
A veces, podemos tener una cadena que contiene un número dentro de ella. Si este es el caso, podemos convertir esa cadena que representa un número en un número entero mediante int():

In [17]:
# Convierte una cadena en un entero

int('1')

1

In [18]:
# Convierte una cadena en un entero con error

int('1 o 2 personas')

ValueError: invalid literal for int() with base 10: '1 o 2 personas'

In [19]:
# Convierte la cadena "1.2" en un punto flotante

float('1.2')

1.2

## 
[Idea:] Observa que las cadenas pueden representarse con comillas simples ('1.2') o dobles ("1.2"), pero no puedes mezclar ambas (por ejemplo, "1.2').

## Convertir números en cadenas

In [20]:
# Convierte un entero en una cadena

str(1)

'1'

In [21]:
# Convierte un punto flotante en una cadena

str(1.2)

'1.2'

## Tipo de datos booleano
El Booleano es otro tipo importante en Python. Un objeto de tipo Booleano puede tener uno de entre dos valores: True (verdadero) o False (falso):
Podemos convertir objetos booleanos en otros tipos de datos. Si convertimos un booleano con un valor de True a un entero o punto flotante obtendremos un uno. Si convertimos un booleano con un valor de False en un entero o en un punto flotante, obtendremos un cero. Del mismo modo, si convertimos un 1 en Booleano, obtendremos True. Y si convertimos un 0 a Booleano, obtendremos False. Vamos a probarlo:

In [22]:
# Valor verdadero

True

True

In [23]:
# Valor falso

False

False

In [24]:
# Tipo de True

type(True)

bool

In [25]:
# Tipo de False

type(False)

bool

In [26]:
# Convierte True a int

int(True)

1

In [27]:
# Convierte 1 a booleano

bool(1)

True

In [28]:
# Convierte 0 a booleano

bool(0)

False

In [29]:
# Convierte True a punto flotante

float(True)

1.0

In [30]:
# convierte False a punto flotante
float(False)

0.0

In [31]:
bool(0.6)

True

In [32]:
bool(0.4)

True

In [33]:
bool(0.1)

True

In [34]:
type(6 / 2)

float

In [35]:
type(6 // 2)#esta división entrega la aprte entera

int

In [37]:
print(5 // 2)

2

## Expresiones y variables
### Expresiones

In [38]:
# Expresión de operación de suma

43 + 60 + 16 + 41

160

In [39]:
# Expresión de operación de resta

50 - 60

-10

In [40]:
# Expresión de operación de multiplicación

5 * 5

25

In [41]:
# Expresión de operación de división

25 / 5

5.0

In [42]:
# Expresión de operación de división

25 / 6

4.166666666666667

## 
Como se ve en el cuestionario anterior, podemos usar la doble barra inclinada para la división entera, donde el resultado se redondea al entero más cercano:

In [43]:
# Expresión de operación de división entera

25 // 5

5

In [44]:
# Expresión de operación de división entera

25 // 6

4

### Ejercicio: Expresión
Escribamos una expresión que calcule cuántas horas hay en 160 minutos:

In [47]:
# Introduce el código a continuación. No te olvides de pulsar Mayúsculas+Intro para ejecutar la celda
minutos_totales = 160
horas = minutos_totales/60
print(horas)

2.6666666666666665

In [48]:
# Expresión matemática

30 + 2 * 60

150

In [49]:
# Expresión matemática
# Y al igual que en las matemáticas, las expresiones entre paréntesis tienen prioridad. Así que lo siguiente multiplica 32 por 60.
(30 + 2) * 60

1920

###  Variables
Como con la mayoría de los lenguajes de programación, podemos almacenar valores en variablespara poder usarlos más tarde. Por ejemplo:

In [50]:
# Almacena el valor en una variable

x = 43 + 60 + 16 + 41

## 
Para ver el valor de x en un Cuaderno, podemos simplemente colocarlo en la última línea de una celda:

In [51]:
# Imprime el valor de la variable

x

160

## 
También podemos realizar operaciones sobre x y guardar el resultado en una nueva variable:

In [52]:
# Utiliza otra variable para almacenar el resultado de la operación entre variable y valor

y = x / 60
y

2.6666666666666665

## 
Si guardamos un valor en una variable ya existente, el nuevo valor sobrescribirá el valor anterior:

In [53]:
# Sobrescribe la variable con un nuevo valor

x = x / 60
x

2.6666666666666665

## 
Es una buena práctica utilizar nombres de variables con significado, para que tanto tú como los demás puedan leer el código y entenderlo más fácilmente:

In [54]:
# Da un nombre a las variables que tenga un significado

total_min = 43 + 42 + 57 # Duración total de los álbumes en minutos
total_min

142

In [55]:
# Da un nombre a las variables que tenga un significado

total_horas = total_min / 60 # Duración total de los álbumes en horas 
total_horas

2.3666666666666667

In [56]:
# Expresión compleja

total_horas = (43 + 42 + 57) / 60  # Total de horas en una sola expresión
total_horas

2.3666666666666667

### Ejercicio: Expresión y Variables en Python

##### 
¿Cuál es el valor de x, donde x = 3 + 2 * 2?

In [60]:
 x = 3 + 2 * 2
x

7

#### 
¿Cuál es el valor de y, donde y = (3 + 2) * 2?

In [61]:
y = (3 + 2) * 2
y

10

#### 
¿Cuál es el valor de z, donde z = x + y?

In [62]:
z = x + y
z

17